<div class='topbar'>
 <div class="topbar-inner">
        <div class="container">
          <a href="#" class="brand">Sitegyan</a>
          <ul class="nav">
            <li class="active"><a href="#overview">Overview</a></li>
            <li class=""><a href="#about">About</a></li>
            <li class=""><a href="{%url blog_home%}">Blog</a></li>
            <li class=""><a href="{%url pricing_page%}">Pricing</a></li>
            <li class=""><a href="{%url login%}">Demo</a></li>
            <li class=""><a href="#login">Contact Us</a></li>
            <li class=""><a href="#login">Login</a></li>
            <li class=""><a href="#signup">Sign up</a></li>
          </ul>
        </div>
      </div>
</div>
