<footer class="footer">
  <div class="container">
    <p class="pull-right">
      <a href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangopowered126x54.gif" border="0" alt="Powered by Django." title="Powered by Django." /></a>
   </p>
    <p>
      Developed and Designed by SiteGyan Studios, Bangalore
      <br/>
        <iframe frameborder="0" scrolling="no" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.html#_=1320131594545&amp;align=&amp;button=blue&amp;id=twitter_tweet_button_0&amp;lang=en&amp;link_color=&amp;screen_name=udnahc&amp;show_count=&amp;show_screen_name=&amp;text_color=" class="twitter-follow-button" style="width: 300px; height: 20px;" title=""></iframe>
        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      <br/>
      This is our Facebook page <a target='_blank' href='http://www.facebook.com/sachintendulkarfans'>Sitegyan</a>
      <br/>
      <a href="http://twitter.github.com/bootstrap/">@Bootstrap</a> is awesome !!
    </p>
    <p>
       <a href="#">Back to top</a>
    </p>
  </div>
</footer>
