
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
<title></title>
    <link rel="stylesheet" type="text/css" href="/site_media/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/site_media/css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="/site_media/css/docs.css">
</head>
<body>
{%block home_header%}
   {%include "cmn_hdr_ftr/header.html"%}
{%endblock%}
   <div class="container">
      <div class="row-fluid">
       <p><h1>Hello : {{username}}</h1></p>
        <p><h2>Welcome to Powernote Demo...</h2></p>
         <a href="/demo/">Click Here</a>&nbsp;to quick Powernote Demo
       </div>
    </div><!-- /container -->

</body>
</html>

