<html>
<head>
    <title>Blogs List</title>
<style type="text/css">
span.blue {color:#357EC7;font-weight:bold;font-family:Monospace}
span.titlecolor {color:#463E3F;font-weight:bold;font-family:normal}
</style>
</head>
<body>
<div class="container">
    <div class="row">
      <div class="span13">
          {% if latest_blog_list %}
             {% for blog in latest_blog_list %}
                 <h3><a href="/blog/{{ blog.id }}/"><span class="titlecolor">{{ blog.title }}</span></a></h3>
                 <p>Published by <span class="blue"> {{ blog.author }} </span> on {{blog.pub_date}}</p>
                 <p class="desc">{{blog.description|truncatewords:"100"}} <a href="/blog/{{ blog.id }}/">read more >></a></p>
             {% endfor %}
           {% else %}
              <p>No Blogs are available.</p>
           {% endif %}

      </div>
      <div class="span3">
        Level 2
      </div>
    </div>
</div>


</body>
    <link rel="stylesheet" type="text/css" href="/site_media/css/bootstrap-1.1.1.min.css">
</html>
