<html>
    <head>
      <title>Register to the photo site</title>
    </head>
    <body>
      Some content here
      <div class='container'>
      <div id="navigation" class="topbar">
      <div class="fill">
        <div class="container">
          <h3><a href="#">Power Note</a></h3>
          <ul>
            <li><a href="#">Total Notes</a></li>
            <li><a href="#">Hidden Notes</a></li>
            <li><a href="#">Active Notes</a></li>
          </ul>
          <form action="">
            <input type="text" placeholder="Search Notes">
          </form>
          <ul class="nav secondary-nav">
            <li class="menu">
              <a class="menu" href="#">Note By Category</a>
              <ul class="menu-dropdown">
                <li><a href="#">Todo</a></li>
                <li><a href="#">Blocker</a></li>
                <li><a href="#">Warning</a></li>
                <li><a href="#">Reminder</a></li>
                <li><a href="#">Todo</a></li>
                <li><a href="#">Suggestion</a></li>
                <li class="divider"></li>
                <li><a href="#">Hidden Notes</a></li>
                <li><a href="#">Inactive Notes</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div><!-- /fill -->
    </div>
      </div>

    <div id="popupContact">

    </div>
    <div id="backgroundPopup"></div>

  </body>
    <link rel="stylesheet" type="text/css" href="/site_media/css/bootstrap-1.1.1.min.css">
    <link rel="stylesheet" type="text/css" href="/site_media/css/sticky/sticky-notes-footer.css"/>
  <link rel="stylesheet" type="text/css" href="/site_media/css/popup/popup.css"/>
    <script type='text/javascript'  src='/site_media/js/jquery/jquery-1.5.2.min.js'></script>
    <script type="text/JavaScript" src="/site_media/js/jstickynote/jquery.stickynote.js"></script>

		<script type="text/javascript" src="/site_media/js/jstickynote/ui.core.js"></script>
		<script type="text/javascript" src="/site_media/js/jstickynote/ui.draggable.js"></script>
        <script type="text/javascript" src="/site_media/js/jstickynote/powernote.js"></script>
  <script type="text/javascript" src="/site_media/js/popup/popup.js"></script>
</html>
