<html>
    <head>
      <title>Register to the photo site</title>
    </head>
    <body>
      Some content here
        <div id="footpanel">
      <ul id="mainpanel">
        <li><a href="#" class="home">Inspiration <small>Design Bombs</small></a></li>
        <li><a href="#" class="profile">View Profile <small>View Profile</small></a></li>
        <li>
          <a href="#" class="editprofile">Edit Profile <small>Edit Profile</small></a>
          <ul>
            <li>Todo</li>
            <li>Suggestion</li>
            <li>Ticket</li>
          </ul>
        </li>
        <li><a href="#" class="contacts">Contacts <small>Contacts</small></a></li>
        <li><a href="#" class="messages">Messages (10) <small>Messages</small></a></li>
        <li><a href="#" class="playlist">Play List <small>Play List</small></a></li>
        <li><a href="#" class="videos">Videos <small>Videos</small></a></li>
        <li id="alertpanel"><a href="#" class="alerts">Alerts</a></li>
        <li id="chatpanel"><a href="#" class="chat">Friends (<strong>18</strong>)</a></li>
      </ul>
    </div>
		<!--div class="header"></div-->
		<ul class="demos">
			<li id="testclick">Demo 1</li>
			<li id="testsmall">Demo 2</li>
			<li id="testcolor">Demo 3</li>
		</ul>
    <div id="popupContact">

    </div>
    <div id="backgroundPopup"></div>

  </body>
    <link rel="stylesheet" type="text/css" href="/site_media/css/bootstrap-1.1.1.min.css">
    <link rel="stylesheet" type="text/css" href="/site_media/css/bootstrap-1.1.1.min.css">
    <link rel="stylesheet" type="text/css" href="/site_media/css/sticky/sticky-notes-footer.css"/>
  <link rel="stylesheet" type="text/css" href="/site_media/css/popup/popup.css"/>
    <script type='text/javascript'  src='/site_media/js/jquery/jquery-1.5.2.min.js'></script>
    <script type="text/JavaScript" src="/site_media/js/jstickynote/jquery.stickynote.js"></script>

		<script type="text/javascript" src="/site_media/js/jstickynote/ui.core.js"></script>
		<script type="text/javascript" src="/site_media/js/jstickynote/ui.draggable.js"></script>
        <script type="text/javascript" src="/site_media/js/jstickynote/powernote.js"></script>
  <script type="text/javascript" src="/site_media/js/popup/popup.js"></script>
</html>
