<html>
  <head>
    <title>This is the home of the photo site</title>
  </head>
  <body>

    This is a sample photography site

    <div>
    Lorem ipsum dolor sit amet, ac magna imperdiet nisl, accumsan quis sem sed at, orci metus pellentesque pede, vivamus nulla tempor odio ultrices. Vitae at quis consequat sit, litora nec in adipiscing arcu, unde sed wisi at. Dolor hendrerit orci quam, enim elit nibh ut, urna tincidunt eu non. Integer ipsum vivamus sit aliquam, fringilla phasellus eget sollicitudin. Orci arcu magna interdum velit, accumsan adipiscing accumsan varius lacinia.
    </div>

    <div>
Massa odio blandit tristique, mi ipsum ullamcorper vestibulum, ipsum ipsum lobortis rutrum vivamus. Id suspendisse facilisis sit, sed wisi sit ipsum, ullamcorper congue elit eget, eget ac morbi nec turpis. Eu nec fusce et, eu ridiculus et euismod justo, id mauris tellus curae ullamcorper, iaculis diam et feugiat eu. Ipsum in leo eu montes, id sapien tellus odio eleifend. Porttitor tempor accumsan fermentum vel, nam in sed cursus augue. Phasellus cursus vehicula faucibus nec, sit ridiculus ac lectus, tincidunt condimentum rhoncus sagittis, accumsan feugiat at metus. Orci vulputate vehicula imperdiet lacus, luctus ac eget ultrices. Justo pede rhoncus in, maecenas nunc suspendisse arcu ipsum, blandit at eu varius facilisi. Et a a lectus suspendisse, cursus pharetra in eget, tempor convallis id aenean. Magna massa dolor vitae nullam, et neque eget lorem enim, aenean nam lectus quisque bibendum. Amet curabitur sed erat ornare, ut sed dictum pede.
</div>

<div>
Tellus sollicitudin et dolor, neque cursus ipsum maecenas rhoncus, tortor wisi dictum in. Velit turpis dui per ornare, urna in ante massa. Ut lacus eget sed ut, a tincidunt repudiandae id. Tortor proin tincidunt non nec, aenean nunc cursus tincidunt lectus, nulla vivamus leo urna aenean. At ultrices placerat arcu semper, at a ac hac justo. Tempor libero ultrices pellentesque, pellentesque donec et pellentesque, velit quisque erat id mollis.
</div>

<div>
Metus placerat suscipit ac nulla, mauris aenean placerat vitae, pellentesque vel etiam ornare pellentesque. At vehicula eu enim accumsan, vivamus est id quis enim, eu lacus egestas sapien. Dui ipsum tellus nonummy, sed proin rutrum nisl aenean. Magna sapien et adipiscing corrupti, lobortis leo consequat aenean, adipiscing dapibus vestibulum adipiscing ut. Vitae at ante lacus habitant, accumsan semper facilisis ac ea.
</div>
    <div id="footpanel">
      <ul id="mainpanel">
        <li><a href="#" class="home">Inspiration <small>Design Bombs</small></a></li>
        <li><a href="#" class="profile">View Profile <small>View Profile</small></a></li>
        <li><a href="#" class="editprofile">Edit Profile <small>Edit Profile</small></a></li>
        <li><a href="#" class="contacts">Contacts <small>Contacts</small></a></li>
        <li><a href="#" class="messages">Messages (10) <small>Messages</small></a></li>
        <li><a href="#" class="playlist">Play List <small>Play List</small></a></li>
        <li><a href="#" class="videos">Videos <small>Videos</small></a></li>
        <li id="alertpanel"><a href="#" class="alerts">Alerts</a></li>
        <li id="chatpanel"><a href="#" class="chat">Friends (<strong>18</strong>)</a></li>
      </ul>
    </div>

    <div id="popupContact">

    </div>
    <div id="backgroundPopup"></div>
  </body>
<link rel="stylesheet" type="text/css" href="/site_media/css/bootstrap-1.1.1.min.css">
  <link rel="stylesheet" type="text/css" href="/site_media/css/sticky/sticky-notes-footer.css"/>
  <link rel="stylesheet" type="text/css" href="/site_media/css/popup/popup.css"/>
  <script type='text/javascript'  src='/site_media/js/jquery/jquery-1.5.2.min.js'></script>
  <script type="text/JavaScript" src="/site_media/js/jstickynote/jquery.stickynote.js"></script>

  <script type="text/javascript" src="/site_media/js/jstickynote/ui.core.js"></script>
  <script type="text/javascript" src="/site_media/js/jstickynote/ui.draggable.js"></script>
  <script type="text/javascript" src="/site_media/js/jstickynote/powernote.js"></script>
  <script type="text/javascript" src="/site_media/js/popup/popup.js"></script>
</html>
