<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login Powernote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="stylesheet" type="text/css" href="/site_media/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/site_media/css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="/site_media/css/docs.css">
  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">


    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              
              <li class="">
                <h1>Powernote</h1>
              </li>
              <li class="divider-vertical"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

 <div class="container">
  <div class="offset8">
     <div class="well">
        <form action="." method="post">

        {% if error %}
           {{ error }}
        {% endif %}

        <p>Sign up</p>
       
             {{ form.as_p }}

        <p><input type="Submit" value="Sign up"></p>
       </form>
       </div>
      </div>

 </div><!-- /container -->
</body>
</html>
